@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url(https://fonts.googleapis.com/css?family=Montserrat);
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.hero-nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 400px;
  min-height: 105px;
  background-image: url(https://images.unsplash.com/photo-1442606383395-175ee96ed967?q=80&fm=jpg&s=5c8c74be9bc91b47c79a1aaf92264be5);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.hero-nav .hero-nav__inner {
  z-index: 1;
}
.hero-nav h1 {
  color: #efefef;
  font-size: 5vw;
}
.hero-nav:before {
  content: "";
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: background 400ms;
  transition: background 400ms;
}
.hero-nav.fixme:before {
  background: rgba(0, 0, 0, 0.8);
}

.page-content {
  width: 30em;
  margin: 0 auto;
  line-height: 1.625;
}
body {
  margin: 0;
  padding: 0;
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.nav {
  text-align: center;
  font-size: 1rem;
  border-bottom: 1px solid #dee2e6;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 20px;
  font-family: 'Cherry Swash',cursive;
}

.nav-link {
  text-decoration: none;
  display: inline-block;
  padding: 13px 13px;
  color: #212529;
  margin-right: 5px;
}

.nav-link:hover {
  text-decoration:none;
  background-color: #fdf0f0e7;
  border-bottom: 2px solid #e0d4d4
}
.nav-link.current {
  border-bottom: 2px solid #b1850de7;
}
.btn {
  padding: 10px 20px;
  font-size: 1rem;
}
.nav {
	font-size: 1.1rem;
	padding-left: 10px;
	padding-right: 10px;
}
.nav-link {
	padding: 20px 20px;
}

body {
	font-size: 12px;
	font-family: sans-serif;
	background: white;
}
h1 {
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 30px;
	color: black;
	font-family: 'Cherry Swash', cursive;
  letter-spacing: 5px;
}
h2 {
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 40px;
	color: black;
	font-family: 'Cherry Swash', cursive;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#velikost1 {
  width: 80%;
}
.column {
  float: left;
}
.left {
  width: 50%;
  border-radius: 10px;
}
.right {
  width: 50%;
  border-radius: 10px;
}
 p {
  padding: 8px;
  margin: 25px;
	font-size: 20px;
  border-radius: 10px;
  color: black;
  font-family: 'Cherry Swash', cursive;
}
p.small {
  line-height: 0.7;
}

p.big {
  line-height: 1.8;
}